:root {
  --vp-code-block-line-numbers-padding-left: 0;
}

div[class*="language-"].line-numbers-mode pre {
  /* 使用变量来调整代码块行号与内容之间的距离 */
  padding-left: var(--vp-code-block-line-numbers-padding-left);
}

/* 代码块：增加留空边距 增加阴影 */
.vp-doc div[class*="language-"] {
  padding-top: 20px;
}

.vp-doc [class*="language-"] code {
  padding: 0 10px; /* 行号右侧竖线与代码之间的距离 */
}

.vp-doc [class*="language-"] pre {
  padding: 10px 0 10px 0;
}

/* 代码块：添加macOS风格的小圆点 */
.vp-doc div[class*="language-"]::before {
  content: "";
  display: block;
  position: absolute;
  top: 12px;
  left: 12px;
  width: 12px;
  height: 12px;
  background-color: #ff5f56;
  border-radius: 50%;
  box-shadow: 20px 0 0 #ffbd2e, 40px 0 0 #27c93f;
  z-index: 1;
}

/* 代码块：下移行号 隐藏右侧竖线 */
.vp-doc .line-numbers-wrapper {
  padding-top: 30px;
  border-right: none;
}

/* 代码块：重建行号右侧竖线 */
.vp-doc .line-numbers-wrapper::after {
  content: "";
  position: absolute;
  top: 40px;
  right: 0;
  border-right: 1px solid var(--vp-code-block-divider-color);
  height: calc(100% - 60px);
}

.vp-doc div[class*="language-"].line-numbers-mode {
  margin-bottom: 20px;
}

.vp-doc [class*="language-"] > span.lang {
  top: 6px;
  right: 12px;
  font-family: var(--vp-font-family-mono);
  font-feature-settings: var(--vp-font-feature-settings-mono);
  font-variant-ligatures: var(--vp-font-variant-ligatures-mono);
}

.vp-doc [class*='language-'] code .highlighted {
    display: inline-block;
    width: calc(100% + 22px);
    margin: auto auto auto -12px;
    padding: 0 0 0 12px;
}

.vp-doc [class*='language-'] code .diff {
    display: inline-block;
    width: fit-content;
    margin: auto 12px auto -12px;
    padding: 0 0 0 12px;
}

.vp-doc [class*='language-'] code .diff::before {
    position: absolute;
    left: 0;
}