.VPDocFooter {
  margin-top: 32px !important;
}

.prev-next {
  padding-top: 16px !important;
  border-top: 1px solid var(--vp-c-divider) !important;
}

.VPDoc {
  padding-bottom: 32px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.content {
  padding-bottom: 48px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.content-container {
  margin-left: 28px !important;
  margin-right: 28px !important;
  max-width: fit-content !important;
}

.aside {
  padding-left: 12px !important;
}
